{% extends 'base.html.twig' %}
{% block title %}Detail | Shopinist{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/homepage.css') }}" />
   
{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
     <section id="featured" class="container sproduct">
        <div class="row mt-5">
            <div class="col-lg-6 col-md-12 col-12">
                <img class="img-fluid pb-1 w-100 h-75" id="MainImg" src="../img/Men's_fashion1.jpg" alt="">
            </div> 
            <div class="col-lg-6 col-md-12 col-12 px-5">
                <nav aria-label="breadcrumb " >
                    <ol class="breadcrumb d-flex justify-content-center">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item"><a href="#">Library</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Data</li>
                    </ol>
                  </nav>          
                <hr>
                <h3 class="py-4 px-4">Men's Fashion</h3>
                <div class="px-5">
                    <h2>$132.00</h2>
                    <h5>Status: available</h5>
                    <select class="my-3">
                        <option>Select Size</option>
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                        <option>X</option>
                        <option>XL</option>
                    </select>
                    <div class="number">
                        
                        <button id="sub" class="minus" style="border: 0; border-radius: 25%;"><i class="bi bi-dash-circle-dotted"></i></i></button>
                        <input id="qtyBox" class="input" type="text" value="1"/>
                        <button id="add" class="plus" style="border: 0; border-radius: 25%;"><i class="bi bi-plus-circle-dotted"></i></button>

                    </div>
                   
                    <h4 class="mt-4 ">Product Details</h4>
                    <span>It is very beautifull</span>



                    <div class="pt-5">
                        <input type="submit" style="border-radius: 12%; border-width: 2px; 
                        border-color: rgb(0, 0, 0);" class="btnDetail btn btn-white" value="Add to Cart">
                        <input type="submit" style="border-radius: 12%; border-width: 2px; 
                        border-color: rgb(0, 0, 0);" class="btnDetail btn btn-white" value="Back to shopping">
                    </div>
                </div>

            </div>
        </div>
    </section>


{% include 'footer.html.twig' %}
{% endblock %}